@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

html {
    box-sizing: border-box;
}

.first {
    background-image: url(../../assets/images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-position: 790px 72px;
    padding: 15.8rem 0 26rem;
}

.first__title {
    text-align: center;
    font-size: var(--size40);
    font-weight: var(--w6);
    color: var(--very-dark-blue);
    letter-spacing: -0.16rem;
    margin: 0 0 10.4rem 0;
}

.copy {
    margin: 0 73.6rem 0 16.5rem;
}

.copy__title {
    font-size: var(--size28);
    font-weight: var(--w6);
    color: var(--very-dark-blue);
    letter-spacing: -0.0165rem;
    margin-bottom: 3rem;
}

.copy__paragraph {
    font-size: var(--size16);
    font-weight: var(--w3);
    color: var(--very-dark-grayish-blue);
    color: var(--gray);
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
}

.copy__paragraph:first-of-type {
    margin-bottom: 8rem;
}

.second {
    position: relative;
}

.gradient--second {
    position: absolute;
    background-image: linear-gradient(to left, var(--very-dark-desaturated-blue), var(--very-dark-gray-blue));
    top: 0;
    left: 0;
    width: 100vw;
    height: 40rem;
    border-radius: 0 100px 0 100px;
}

.second__background {
    position: relative;
    background-image: url(../../assets/images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: -21.3rem -50.75rem;
    padding: 11.3rem 17.8rem 11.3rem 73.5rem;
}


.second__image {
    position: absolute;
    top: -6.9rem;
    left: 12.5rem;
}

.second__title {
    position: relative;
    font-size: var(--size40);
    font-weight: var(--w6);
    color: var(--white);
    letter-spacing: -0.144rem;
    margin-bottom: 2.2rem;
}

.second__paragraph {
    position: relative;
    font-size: var(--size16);
    font-weight: var(--w3);
    color: var(--white);
    letter-spacing: 0.048rem;
    line-height: 2.8rem;
}

.third {
    position: unset;
    background-image: url(../../assets/images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: -279px 116px;
    padding: 30.1rem 17.8rem 30.4rem 73.4rem;
}

