@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

.gradient--header {
    position: absolute;
    background-image: linear-gradient(to right, var(--very-light-red-header), var(--light-red-CTA));
    top: 0;
    left: 0;
    width: 100vw;
    height: 57.4rem;
    border-bottom-left-radius: 10rem;
}

.header__background {
    position: relative;
    background-image: url(../../assets/images/bg-pattern-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: -432px -1355px;
    padding: 5.8rem 16rem 15.4rem 16.5rem;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 6.4rem;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__link {
    display: flex;
    align-items: center;
    font-size: var(--size16);
    font-family: var(--ubuntu);
    font-weight: var(--w7);
    color: var(--white);
    text-decoration: none;
    margin-right: 3rem;
}

.nav__arrow{
    margin-left: .8rem;
}

.dropdown__link:hover {
    text-decoration: underline;
}

.dropdown__nav {
    position: absolute;
    display: none;
    background-color: var(--white);
    padding: 3.2rem 8.4rem 3.2rem 2.4rem;
    margin-top: 2.6rem;
    border-radius: .6rem;
    z-index: 1;
}

.nav-dropdown__link {
    display: block;
    font-size: var(--size16);
    font-family: var(--ubuntu);
    font-weight: var(--w4);
    color: var(--very-dark-blue);
    letter-spacing: -.042rem;
    text-decoration: none;
    margin-bottom: 2rem;
}

.nav-dropdown__link:last-of-type{
    margin-bottom: none;
}

.nav-dropdown__link:hover{
    font-weight: var(--w7);
}

.dropdown:hover .dropdown__nav {
    display: block;
    transition: 1s;
}

.dropdown:hover .nav__arrow {
    transform: rotate(180deg);
    transition: 0.5s;
}

.nav__btn a {
    text-decoration: none;
    color: unset;
}

.nav__btn {
    font-size: var(--size16);
    font-family: var(--ubuntu);
    font-weight: var(--w7);
    color: var(--white);
    background: none;
    border: none;
}

.nav__btn:first-of-type {
    margin-right: 3rem;
}

.nav__btn:first-child:hover{
    text-decoration: underline;
}

.--sign-start {
    font-family: var(--ubuntu);
    font-size: var(--size16);
    font-weight: var(--w7);
    color: var(--light-red-CTA);
    background-color: var(--white);
    width: 13.8rem;
    height: 4.8rem;
    border-radius: 2.2rem;
    border: none;
}

.--sign-start:hover{
    color: var(--white);
    background-color: var(--very-light-red-CTA);
}

.action {
    text-align: center;
    margin-top: 12.4rem;
}

.action__title {
    font-size: 6.4rem;
    font-weight: var(--w6);
    color: var(--white);
    letter-spacing: -0.255rem;
    margin-bottom: 1.2rem;
}

.action__paragraph {
    font-size: var(--size20);
    font-weight: var(--w3);
    color: var(--white);
    margin-bottom: 4.6rem;
}

.action__btn {
    letter-spacing: 0.024rem;
    margin: 0 0.4rem;
}

.--learn {
    font-family: var(--ubuntu);
    font-size: var(--size16);
    font-weight: var(--w7);
    color: var(--white);
    background: none;
    width: 13.8rem;
    height: 4.8rem;
    border-radius: 2.2rem;
    border: 1px solid var(--white);
}

.--learn:hover{
    background-color: var(--white);
    color: var(--very-light-red-CTA);
}