@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

html {
    font-family: var(--ubuntu);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(60deg, var(--very-light-red-header), var(--light-red-CTA));
    width: 100vw;
    height: 100vh;
}

.logo {
    margin: 5.8rem auto 2rem;
}

main {
    background-image: none;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: 0 0 .4rem .4rem rgba(0, 0, 0, .25);
    padding: 5rem;
    width: 48rem;
    height: 66rem;
}

h1 {
    font-size: var(--size40);
    font-weight: var(--w5);
    color: var(--very-dark-blue);
    text-align: center;
    margin-bottom: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container__label {
    font-size: var(--size20);
    font-weight: var(--w5);
    color: var(--very-dark-blue);
    margin-left: .6rem;
}

.container__input-icon {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: .4rem .8rem;
    margin: .6rem 1.2rem;
}

.error-message {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--light-red-CTA);
}

.container__icon {
    grid-column: 1/2;
    grid-row: 2;
    height: 1.6rem;
    opacity: .5;
}

.container__input {
    grid-column: 2/3;
    grid-row: 2;
    font-size: var(--size16);
    font-weight: var(--w5);
    color: var(--very-dark-blue);
    width: 100%;
    height: 2.8rem;
    border: none;
}

.container__input:focus {
    outline: none;
}

.container__input::placeholder {
    color: var(--grayish-blue);
}

.button-eye {
    grid-column: 2/3;
    grid-row: 2;
    justify-self: end;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.eye {
    height: 1.8rem;
}

.--on {
    display: none;
}

.--off {
    display: block;
}

hr {
    width: 100%;
    border: .05rem solid var(--very-dark-grayish-blue);
    margin: 0 0 2.4rem;
}

.container--checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container__label-input {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.--remember {
    font-size: var(--size16);
}

.container__input--checkbox {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: .5rem;
}

.container__link {
    font-size: 1.2rem;
    font-weight: var(--w4);
    color: var(--very-dark-blue);
    text-decoration: none;
}

.container__link:hover {
    text-decoration: underline;
}

.button {
    display: block;
    font-size: var(--size20);
    font-weight: var(--w7);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.16rem;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(to left, var(--very-dark-desaturated-blue) 70%, var(--very-dark-gray-blue));
    border: none;
    border-radius: 2rem;
    margin: 2.4rem 0;
    cursor: pointer;
}

.divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider__line {
    width: 16.8rem;
    margin: unset;
}

.divider__text {
    font-size: var(--size16);
    font-weight: var(--w5);

}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social__icons {
    width: 4rem;
    margin: 1.6rem;
    cursor: pointer;
}

.sign-up {
    display: block;
    font-size: var(--size20);
    font-weight: var(--w7);
    color: var(--very-dark-blue);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.16rem;
    margin: 1.6rem 0 0;
}

.sign-up:hover {
    text-decoration: underline;
}