:root {
    /* colors */
    --light-red-CTA: hsl(356, 100%, 66%);
    --very-light-red-CTA: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsla(206, 13%, 34%, 0.5);
    --very-dark-black-blue: hsl(240, 10%, 16%);
    --very-light-red-header: hsl(13, 100%, 72%);
    --light-red-: hsl(353, 100%, 62%);
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);

    /* font family */
    --overpass: 'Overpass', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;

    /* font size */

    --size16: 1.6rem;
    --size20: 2rem;
    --size28: 2.8rem;
    --size40: 4rem;
    --size64: 6.4rem;

    /* weights */
    --w3: 300;
    --w4: 400;
    --w5: 500;
    --w6: 600;
    --w7: 700;
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--overpass);
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}
