@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* colors */
    --c-light-red: hsl(356, 100%, 66%);
    --c-very-light-red: hsl(355, 100%, 74%);
    --c-very-dark-blue: hsl(208, 49%, 24%);
    --c-white: hsl(0, 0%, 100%);
    --c-grayish-blue: hsl(240, 2%, 79%);
    --c-very-dark-grayish-blue: hsl(207, 13%, 34%);
    --c-very-dark-black-blue: hsl(240, 10%, 16%);
    --c-very-light-red: hsl(13, 100%, 72%);
    --cLight-red: hsl(353, 100%, 62%);
    --c-very-dark-gray-blue: hsl(237, 17%, 21%);
    --c-very-dark-desaturated-blue: hsl(237, 23%, 32%);

    /* font family */
    --f-overpass: 'Overpass', sans-serif;
    --f-ubuntu: 'Ubuntu', sans-serif;

    /* font size */

    --size-16: 1.6rem;
    --size-20: 2rem;
    --size-28: 2.8rem;
    --size-40: 4rem;
    --size-64: 6.4rem;

    /* weights */
    --w-3: 300;
    --w-4: 400;
    --w-5: 500;
    --w-6: 600;
    --w-7: 700;
}