@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  width: 100vw;
  height: 100vh;
  padding: 5.6rem 2rem 0;
}
body header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  width: 33.5rem;
  max-width: 42rem;
}
body header .header__sign-up {
  font-family: "Overpass", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(356deg, 100%, 66%);
  display: block;
  background-color: hsl(0deg, 0%, 100%);
  border: none;
  border-radius: 2rem;
  width: 8rem;
  height: 4rem;
  text-transform: uppercase;
  cursor: pointer;
}
body header .header__sign-up:hover {
  background-color: transparent;
  border: 2px solid hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 100%);
}
body main {
  background-color: hsl(0deg, 0%, 100%);
  width: 33.5rem;
  max-width: 42rem;
  border-radius: 2rem;
  padding: 2.6rem 2rem;
}
body main h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.8rem;
  font-weight: 500;
  color: hsl(208deg, 49%, 24%);
  display: block;
  text-align: center;
  margin-bottom: 2.4rem;
}
body main .form .form__input {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(4, auto);
}
body main .form .form__input .input__label {
  grid-column: 1/4;
  grid-row: 1/1;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: hsl(208deg, 49%, 24%);
  display: block;
  margin-bottom: 0.6rem;
}
body main .form .form__input .input__error-message {
  grid-column: 1/4;
  grid-row: 2/2;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(356deg, 100%, 66%);
  display: unset;
  margin-bottom: 0.3rem;
}
body main .form .form__input .input__icon {
  grid-column: 1/2;
  grid-row: 3/3;
  width: 1.2rem;
  margin: 0 0.3rem 0 1rem;
}
body main .form .form__input .input__area {
  grid-column: 2/4;
  grid-row: 3/3;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(208deg, 49%, 24%);
  display: unset;
  background: transparent;
  border: none;
}
body main .form .form__input .input__area:focus {
  outline: none;
}
body main .form .form__input .input__password-visibility {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-column: 3/4;
  grid-row: 3/3;
  background-color: transparent;
  border: none;
  padding: unset;
  cursor: pointer;
}
body main .form .form__input .visibility-icon {
  width: 1.6rem;
}
body main .form .form__input .visibility-icon--hidden {
  width: 1.6rem;
  display: none;
}
body main .form .form__input .--exposed {
  display: block;
}
body main .form .form__input .--hidden {
  display: none;
}
body main .form .form__input hr {
  grid-column: 1/4;
  grid-row: 4/4;
  width: 100%;
  border: 1px solid hsl(240deg, 2%, 79%);
  margin-bottom: 2.4rem;
}
body main .form .form__input--checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2.4rem;
}
body main .form .form__input--checkbox .input__checkbox {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}
body main .form .form__input--checkbox .input__label--remember {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(208deg, 49%, 24%);
  display: unset;
  cursor: pointer;
}
body main .form .form__submit {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  width: 20rem;
  height: 4rem;
  background-image: linear-gradient(to right, hsl(237deg, 23%, 32%) 60%, hsl(237deg, 17%, 21%));
  border: none;
  border-radius: 2rem;
  margin: 0 auto 1.2rem;
  cursor: pointer;
}
body main .form .form__submit:hover {
  background-image: none;
  background-color: transparent;
  border: 3px solid hsl(237deg, 17%, 21%);
  color: hsl(237deg, 17%, 21%);
}
body main .form .input__link {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(208deg, 49%, 24%);
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1.2rem;
}
body main .divider {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
body main .divider .divider__line {
  width: 100%;
  border: 1px solid hsl(240deg, 2%, 79%);
}
body main .divider .divider__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: hsl(208deg, 49%, 24%);
  display: unset;
  padding: 0 1rem;
}
body main .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
body main .social .social__icon {
  width: 4rem;
  cursor: pointer;
}
body main .social .social__icon:hover {
  transform: scale(1.1);
  transition: 1s;
}

@media only screen and (min-width: 540px) {
  body header {
    width: 42rem;
    max-width: 50rem;
  }
  body header .header__sign-up {
    font-size: 1.6rem;
    width: 13.6rem;
  }
  body main {
    width: 42rem;
    max-width: 50rem;
  }
  body main h1 {
    margin-bottom: 4rem;
  }
  body main .form .form__input .input__label {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  body main .form .form__input .input__error-message {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }
  body main .form .form__input .input__icon {
    width: 1.6rem;
  }
  body main .form .form__input .input__area {
    font-size: 1.6rem;
  }
  body main .form .form__input hr {
    margin-bottom: 2rem;
  }
  body main .form .form__input--checkbox {
    margin-bottom: 2rem;
  }
  body main .form .form__input--checkbox .input__checkbox {
    width: 1.8rem;
    height: 1.8rem;
  }
  body main .form .form__input--checkbox .input__label--remember {
    font-size: 2rem;
  }
  body main .form .form__submit {
    height: 5rem;
    margin: 0 auto 2rem;
  }
  body main .form .input__link {
    font-size: 1.4rem;
    margin-bottom: 2.6rem;
  }
  body main .social .social__icon {
    width: 4.6rem;
  }
}/*# sourceMappingURL=style-login.css.map */