@import "../abstract/root";

@mixin text($family, $size, $weight, $color, $display) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    display: $display;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, $gradient-very-light-red, $gradient-light-red);
    width: 100vw;
    height: 100vh;
    padding: 5.6rem 2rem 0;

    header {
        margin-bottom: 2.4rem;
    }

    main {
        background-color: $neutral-white;
        padding: 2.6rem 2rem;
        border-radius: 2rem;
        width: 33.5rem;
        max-width: 40rem;

        h1 {
            @include text($ubuntu, $size38, $u-w5, $primary-very-dark-blue, block);
            text-align: center;
            margin-bottom: 2.4rem;
        }

        .register {
            .register__input {
                display: grid;
                align-items: center;
                grid-template-columns: auto 1fr auto;
                grid-template-rows: repeat(4, auto);
            }

            .input__label {
                grid-column: 1/4;
                grid-row: 1/1;
                @include text($ubuntu, $size16, $u-w5, $primary-very-dark-blue, block);
                margin-bottom: .6rem;
            }

            .input__error-message {
                grid-row: 2/2;
                @include text($ubuntu, $size12, $u-w7, $primary-light-red, unset);
                margin-bottom: .3rem;
            }

            .input__icon {
                grid-column: 1/2;
                grid-row: 3/3;
                width: 1.2rem;
                margin: 0 .3rem 0 1rem;
            }

            .input__area {
                grid-column: 2/4;
                grid-row: 3/3;
                @include text ($ubuntu, $size14, $u-w5, $primary-very-dark-blue, unset);
                background: transparent;
                border: none;
            }

            .input__password-visibility {
                width: fit-content;
                height: fit-content;
                grid-column: 3/4;
                grid-row: 3/3;
                background-color: transparent;
                border: none;
                padding: unset;
            }

            .visibility-icon {
                width: 1.6rem;
            }

            .visibility-icon--hidden{
                display: none;
                width: 1.6rem;
            }
            
            .--exposed{
                display: block;
            }

            .--hidden {
                display: none;
            }

            hr {
                grid-column: 1/4;
                grid-row: 4/4;
                width: 100%;
                border: 1px solid $neutral-grayish-blue;
                margin-bottom: 2.4rem;
            }

            .register__submit {
                @include text($ubuntu, $size20, $u-w7, $neutral-white, block);
                text-transform: uppercase;
                letter-spacing: 0.08em;
                width: 20rem;
                height: 4rem;
                background-image: linear-gradient(to right, $gradient-very-dark-desaturated-blue 60%, $gradient-very-dark-gray-blue);
                border: none;
                border-radius: 2rem;
                margin: 0 auto 1.2rem;
            }
        }

        .lead {
            @include text($ubuntu, $size12, $u-w5, $primary-very-dark-blue, block);
            text-decoration: none;
            text-align: center;
            margin-bottom: 1.2rem;
        }

        .redirect-login {
            @include text($overpass, $size20, $o-w6, $neutral-white, block);
            text-transform: uppercase;
            width: 10rem;
            height: 4rem;
            background-image: linear-gradient(to right, $gradient-very-light-red, $gradient-light-red);
            border: none;
            border-radius: 2rem;
            margin: 0 auto;
        }
    }

    aside {
        display: none;
    }

}